@font-face {
    font-family: "Source Sans";
    src: url("../fonts/SourceSansPro-Regular.otf");
}

@font-face {
    font-family: "Source Sans Light";
    src: url("../fonts/SourceSansPro-Light.otf");
    font-weight: 200;
}

@font-face {
    font-family: "Source Sans";
    src: url("../fonts/SourceSansPro-Semibold.otf");
    font-weight: 600;
}

@font-face {
    font-family: "Source Code";
    src: url("../fonts/SourceCodePro-Regular.otf");
}

.matrix {
    width: 900px;
    height: 600px;
    position: relative;
}

.matrix table {
    position: absolute;
    top: 0px;
    left:50px;
    width: 850px;
    height: 550px;
}

.matrix td {
    border: solid 1px #000000;
}

.y-label {
    position: absolute;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: 275px;
    left: -50px;
}
.x-label {
    position: absolute;
    bottom: 0px;
    left: 358px;
}

.contact-wrapper {
    overflow: auto !important;
    -webkit-overflow-scrolling: touch !important;
    width: 700px;
    height: 450px;
    border: solid 1px #BFC2C2;
    margin-top: 10px;
}

#spinner {
    width: 100%;
    padding-top: 40px;
    text-align: center;
}

.page {
    padding-top: 10px;
    position: absolute;
    width: 279px;
    height:467px;
    top:128px;
    left:372px;
    transform: translate3d(0,0,0);
}

.page-left {
    -webkit-transform: translate3d(-300px, 0, 0);
    transform: translate3d(-301px, 0, 0);
}
.page-center {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.page-right {
    -webkit-transform: translate3d(301px, 0, 0);
    transform: translate3d(300px, 0, 0);
}

.transition {
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
}

.chart {
    width: 49%;
    height: 49%;
    float: left;
    padding: 12px;
    /*margin: 1px;*/
    /*background: red;*/
    text-align:center;
    color: #999;
    position: relative;

}

.chart.full-width {
    width: 100%;
}

.chart.full-height {
    height: 100%;
}

.chart.one-third {
    width: 40%;
}

.chart.two-thirds {
    width: 60%;
}

